/*external styling*/
/*
	CSS Rules:
	selector {
		property:value;
	}

*/

/*Type selector*/
h1 {
	color:green !important;
	text-align: center;
/*rem is root element. 1 rem is 2x the declared font-size kay universal selector or default*/
	font-size: 2rem;
}

/*Universal Selector*/
*{
	font-family: "Courier New", monospace;
	font-size:20px;
}

/*ID selector*/
#zuitt-motto {
	/* letter spacing property changes the spaces in between characters of a text	*/
	letter-spacing: 5px;
}

/*class selector*/
.offering-item {
	/*text-transform property changes font to a certain case	*/
	text-transform: uppercase;
}

/*attribute selector*/
[required] {
	/*thickness of the border*/
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*Hindi ito na-read because of the specificity/hierarchy ng selector*/
h3 {
	letter-spacing: 25px;
}

/*Selector Combinators*/
/*Adjaccent Sibling Selector - kung sino yung mas matanda yung need maging reference + yung need i-select kung san magtake effect*/
/*pwdeng si h3 gamitin or zuitt-motto na id ni h3. una dapat si h3 kesa kay img kasi si h3 mas matanda*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*Child Selector*/
/*ol > li {
	color: #E0AE44;
}*/
/*Here yung code if need to be more specific*/
body > section > #bootcamp-learning-list > li {
	color: #E0AE44;
}

/*General Sibling Selector*/
/*Need tanggalan ng underline yung anchor tag na back to top*/
/*So under both section with anchor tags, both common si h2*/
/*h2 and a is magkapatid under both section so general sibling sila*/
h2 ~ a {
	text-decoration: none;
}

/*Descendant Selector*/
/*yung mga labels yung itatarget*/
/*Ang grandparent is si register (element) then apo nya si label */
#register label {
	color: rgb(0, 0, 128);
}

body {
	background-color: skyblue;
}

/*for the smoothness of the scrolling experience*/
html {
	scroll-behavior: smooth;
}

nav {
	background-color: white;
}

/*for the hover effect*/
a:hover {
	background-color: #b4d6de;
}

div {
	display: inline-block;
	float: right;
}

section {
	/*vh - viewport height. 100% height of your device*/
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

ol {
	list-style-type: none;
}

h2 + form {
	text-align: center;
	background-color: white;
	position: relative;
	width: 25vw;
	height: 185px;
	border: 2px solid black;
	left: 37.5%;
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}