#p-ext {
	color: yellow;
}

* {
	font-family: "Calibri", monospace;
	font-size: 20px;
}

h1 {
	font-size: 2rem;
}

#cap {
	text-transform: uppercase;
}

.languages-to-learn {
	background-color: lightpink;
}

[type] {
	border: 3px solid pink;
}

section img {
	height: 200px;
	width: 200px;
	border-radius: 100px;
}

h2 ~ p {
	text-align: center;
	color: black;
}

ul > li {
	letter-spacing: 15px;
	list-style-type: none;
}